## 아래 문제들의 **&&채워보세요&&** 부분의 코드 일부분 혹은 전체 코드를 작성하시오

### 1. 아래 코드를 완성하시오 (5점)

In [ ]:
dict_1 = {
    "python": 0,
    "java":1,
    "c++":2,
    "ruby":3,
    "html":4,
    "key":"value",
}

print(dict_1)
print(dict_1["c++"])

del dict_1[&&채워보세요&&]
print(dict_1)

dict_1[&&채워보세요&&]=&&채워보세요&&
print(dict_1)

{'python': 0, 'java': 1, 'c++': 2, 'ruby': 3, 'html': 4, 'key': 'value'}
2
{'python': 0, 'java': 1, 'c++': 2, 'ruby': 3, 'html': 4}
{'python': 0, 'java': 1, 'c++': 2, 'ruby': 3, 'html': 4, 'pytorch': 5}

### 2. 아래의 편의점에서 활용하기 위한 물품-가격 pair를 딕셔너리로 만드시오. (5점)

> 물품 : 가격

> 삼각김밥 : 1000

> 바나나우유 :	1200

> 스프라이트 :	1800

In [ ]:
items = &&채워보세요&&
print(items)

{'삼각김밥': 1000, '바나나우유': 1200, '스프라이트': 1800}

### 3. 위의 items에서 바나나우유의 가격을 1400원으로 수정하시오 (5점)

In [ ]:
items[&&채워보세요&&] = &&채워보세요&&
print(items)

{'삼각김밥': 1000, '바나나우유': 1400, '스프라이트': 1800}

### 4. 편의점의 물품 가격에 50%의 마진을 더한 값을 출력하는 margin_price 함수를 정의하라. (5점)

In [ ]:
def margin_price(&&채워보세요&&) :
    &&채워보세요&&

margin_price(300)

390.0

### 5. 두 물건의 가격을 입력받아 합한 가격을 반환하는 product_sum 함수를 구현하라 (5점)

In [ ]:
def product_sum (&&채워보세요&&):
    &&채워보세요&&

sum = product_sum(300,200)
print(sum)

500

### 6. 다음 물품 제고를 위한 dictionary items의 모든 물건의 합을 구하는 product_sum_all함수를 구현하시오 (10점)
 - 입력: dictionary형 변수
 - 출력: 입력에 들어있는 모든 물건의 가격합

In [ ]:
items = {"삼각김밥": 1000, "바나나우유": 1200, "스프라이트": 1800, "칭따오": 2500, "하이네켄": 3000}
def product_sum_all(&&채워보세요&&):
  &&채워보세요&&

product_sum_all(items)

9500

### 7. 한개의 dictionary 변수를 입력받아 key 값을 출력하는 key_print 함수를 구현하시오 (5점)

In [ ]:
items = {"삼각김밥": 1000, "바나나우유": 1200, "스프라이트": 1800, "칭따오": 2500, "하이네켄": 3000}

def key_print(&&채워보세요&&):
    &&채워보세요&&

key_print(items)

삼각김밥
바나나우유
스프라이트
칭따오
하이네켄

### 8. 입력된 문자열을 역순으로 반환하는 reverse_str 함수를 정의하라.

In [ ]:
def reverse_str(&&채워보세요&&) :
    &&채워보세요&&

out = reverse_str("마 내가 느그 스장하고 사우나도 가고 밥도 묵고 다했어마")
print(out)

마어했다 고묵 도밥 고가 도나우사 고하장스 그느 가내 마

### 9. 문자열을 입력받아 한줄에 n개만큼만 출력하고 줄을 바꿔서 출력하는 함수를 구현하시오. (10점)
 - 입력: 문자열, n개
 - 출력: 문자열/n 줄의 출력물

In [ ]:
def line_spliter(&&채워보세요&&):
    &&채워보세요&&

line_spliter("마내가느그스장하고사우나도가고밥도묵고다했어마", 3)

마내가
느그스
장하고
사우나
도가고
밥도묵
고다했
어마

### 10. 다음은 임교수가 물린 주식 목록이다. 'stocks.txt' 파일을 생성하고 주식명과 종목코드를 파일에 적는 코드를 작성하시오. (각 라인별 줄바꿈을 고려하세요!!)

주식명 - 구매가격 - 보유량
*   선데이토즈 26200 300
*   넷마블 116500 400
*   엔씨소프트 686000 250
*   GS 38450 1000

In [ ]:
file_location = "./stocks.txt"

f = &&채워보세요&&
f.close()

### 11. 주식 관리 프로그램을 작성하려고 한다. 아래 주식(Stock) class를 정의하시오. (15점, 개별 1, 2 and 3, 4 각 5점)

1. init메소드를 활용해서 주식이름(stock_name), 구매가격(stock_buy_price), 구매수량(num_stock)를 초기화 하는 코드를 작성하시오.
2. 클래스 내부에 주식의 현재가격(current_stock_price)을 변경하는 set_current_price를 구현하시오
3. 클래스 내부에 현재 주식 가격의 변화를 반영하는 up_and_drop_price함수를 구현하시오
4. 해당 주식을 판매할 경우 얻을 수 있는 수익을 구하는 함수를 구현하시오.

In [ ]:
class Stock():
  def __init__(&&채워보세요&&):
    &&채워보세요&&

  def set_current_price(&&채워보세요&&):
    &&채워보세요&&

  def up_and_drop_price(&&채워보세요&&):
    &&채워보세요&&

  def profit(&&채워보세요&&):
    &&채워보세요&&

### 12. 다음은 임교수가 물린 주식들이다. Stock class를 이용해서 다음과 같이 4종류의 주식을 구매하는 코드를 작성하시오 (객체를 만드시오). 또한 set_current_price함수를 이용해 현재 구매한 가격을 current_stock_price로 설정하시오. (5점)

주식명 - 구매가격 - 보유량
*   선데이토즈 26200 300
*   넷마블 116500 400
*   엔씨소프트 686000 250
*   GS 38450 1000

In [ ]:
sunday = &&채워보세요&&
netmable = &&채워보세요&&
ncsoft = &&채워보세요&&
gs = &&채워보세요&&
sunday.set_current_price(&&채워보세요&&)
netmable.set_current_price(&&채워보세요&&)
ncsoft.set_current_price(&&채워보세요&&)
gs.set_current_price(&&채워보세요&&)

### 13. 주식 구매후 하루 자고일어났더니 GS 주식이 10000원 오르고 엔씨소프트 주식이 -20000원 내렸다. Stock class에서 구현한 함수들을 활용해 손익이 얼마가 났는지 계산하시오. (5점)

In [ ]:
ncsoft.&&채워보세요&&
gs.&&채워보세요&&
nc_profit = ncsoft.&&채워보세요&&
gs_profit = gs.&&채워보세요&&
profit_all = &&채워보세요&&
print(profit_all)

5000000

### 14. stocks.txt파일을 읽어 각 주식종목을 Stock class의 인스턴스로 생성하고 이를 stock_list에 저장하는 코드를 구현하시오. (10점)

In [ ]:
file_location = "./stocks.txt"
stock_list = []

&&채워보세요&&

for stock in stock_list:
  print("주식명:", stock.stock_name, " 주식구매가격:", stock.stock_buy_price, " 주식보유개수:", stock.num_stock)

주식명: 선데이토즈  주식구매가격: 26200  주식보유개수: 300
주식명: 넷마블  주식구매가격: 116500  주식보유개수: 400
주식명: 엔씨소프트  주식구매가격: 686000  주식보유개수: 250
주식명: GS  주식구매가격: 38450  주식보유개수: 1000